AWService/AWApp/Connected Services/AWService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58352/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AWService.Data" />
  <xs:element name="ListaProductCategoriesAndSubcategoriesResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductCategoriesAndSubcategoriesResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="ListaProductCategoriesAndSubcategoriesResultResult" nillable="true" type="q1:ArrayOfGetAllProductCategoriesAndSubcategories_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductReviewsResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductReviewsResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="ListaProductReviewsResultResult" nillable="true" type="q2:ArrayOfGetProductReviews_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductSalesByYearResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductSalesByYearResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="ListaProductSalesByYearResultResult" nillable="true" type="q3:ArrayOfGetProductSalesByYear_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCreditCardGetAllResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCreditCardGetAllResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="ListaCreditCardGetAllResultResult" nillable="true" type="q4:ArrayOfCreditCardGetAll_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreditCardId" type="xs:int" />
        <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExpMonth" type="xs:int" />
        <xs:element minOccurs="0" name="ExpYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="CreditCardSaveResult" nillable="true" type="q5:CreditCardSave_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreditCardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="CreditCardDeleteResult" nillable="true" type="q6:CreditCardDelete_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaLocationGetAllResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaLocationGetAllResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="ListaLocationGetAllResultResult" nillable="true" type="q7:ArrayOfLocationGetAll_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CostRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="Availability" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="LocationSaveResult" nillable="true" type="q8:LocationSave_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AWService.Data" minOccurs="0" name="LocationDeleteResult" nillable="true" type="q9:LocationDelete_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>