AWService/AWApp/Connected Services/AWService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58352/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58352/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58352/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AWService.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ListaProductCategoriesAndSubcategoriesResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductCategoriesAndSubcategoriesResult" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProductCategoriesAndSubcategoriesResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductCategoriesAndSubcategoriesResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProductReviewsResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductReviewsResult" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProductReviewsResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductReviewsResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProductSalesByYearResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductSalesByYearResult" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaProductSalesByYearResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductSalesByYearResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaCreditCardGetAllResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaCreditCardGetAllResult" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaCreditCardGetAllResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaCreditCardGetAllResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreditCardSave_InputMessage">
    <wsdl:part name="parameters" element="tns:CreditCardSave" />
  </wsdl:message>
  <wsdl:message name="IService1_CreditCardSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreditCardSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreditCardDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CreditCardDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_CreditCardDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreditCardDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaLocationGetAllResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaLocationGetAllResult" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaLocationGetAllResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaLocationGetAllResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LocationSave_InputMessage">
    <wsdl:part name="parameters" element="tns:LocationSave" />
  </wsdl:message>
  <wsdl:message name="IService1_LocationSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocationSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LocationDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:LocationDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_LocationDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocationDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ListaProductCategoriesAndSubcategoriesResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaProductCategoriesAndSubcategoriesResult" message="tns:IService1_ListaProductCategoriesAndSubcategoriesResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaProductCategoriesAndSubcategoriesResultResponse" message="tns:IService1_ListaProductCategoriesAndSubcategoriesResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProductReviewsResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaProductReviewsResult" message="tns:IService1_ListaProductReviewsResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaProductReviewsResultResponse" message="tns:IService1_ListaProductReviewsResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProductSalesByYearResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaProductSalesByYearResult" message="tns:IService1_ListaProductSalesByYearResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaProductSalesByYearResultResponse" message="tns:IService1_ListaProductSalesByYearResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaCreditCardGetAllResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaCreditCardGetAllResult" message="tns:IService1_ListaCreditCardGetAllResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaCreditCardGetAllResultResponse" message="tns:IService1_ListaCreditCardGetAllResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreditCardSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreditCardSave" message="tns:IService1_CreditCardSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreditCardSaveResponse" message="tns:IService1_CreditCardSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreditCardDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreditCardDelete" message="tns:IService1_CreditCardDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreditCardDeleteResponse" message="tns:IService1_CreditCardDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaLocationGetAllResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaLocationGetAllResult" message="tns:IService1_ListaLocationGetAllResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaLocationGetAllResultResponse" message="tns:IService1_ListaLocationGetAllResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocationSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LocationSave" message="tns:IService1_LocationSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LocationSaveResponse" message="tns:IService1_LocationSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocationDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LocationDelete" message="tns:IService1_LocationDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LocationDeleteResponse" message="tns:IService1_LocationDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaProductCategoriesAndSubcategoriesResult">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaProductCategoriesAndSubcategoriesResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProductReviewsResult">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaProductReviewsResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProductSalesByYearResult">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaProductSalesByYearResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCreditCardGetAllResult">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaCreditCardGetAllResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditCardSave">
      <soap:operation soapAction="http://tempuri.org/IService1/CreditCardSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditCardDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/CreditCardDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaLocationGetAllResult">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaLocationGetAllResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationSave">
      <soap:operation soapAction="http://tempuri.org/IService1/LocationSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/LocationDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58352/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>